@font-face {
  font-family: "CircularStdBook";
  src: url("/fonts/CircularStd-Book.otf");
}
@font-face {
  font-family: "CircularStdMedium";
  src: url("/fonts/CircularStd-Medium.otf");
}
@font-face {
  font-family: "CircularStdBold";
  src: url("/fonts/CircularStd-Bold.otf");
}
@font-face {
  font-family: "CircularStdBlack";
  src: url("/fonts/CircularStd-Black.otf");
}
body {
  position: relative; 
  height:100%;
  margin:0;
}
.bclr{
  background-color: transparent !important;
  border-color:transparent !important;
}
#home {
  width: 100%;
  /* height:500px; */
  background-image: url("images/home-img1.jpg");
  /* The image used */
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-position: 50% 50%;
}
#home .overlay-section{
  background: rgba(0,0,0,0.7) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}
#about {
  padding-top: 50px;
  background-color: #fafafa;
}
#portfolio {
  color: #000;
  background-color: #ffffff;
}
#experience {
  color: #fff;
  /* height: 500px; */
  background-color: #5587f9;
}
#resume {
  color: #fff;
  background-color: #fafafa;
}
#skill {
  color: #fff;
  background-color: #ffffff;
}
#contact {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}
.links {
  font-family: CircularStdBook;
  font-size: 15px;
}
.desig1 {
  font-size: 4em;
  position: absolute;
  top: 279px;
  right: 194px;
  z-index: 20;
  color: #ffffff;
  font-family: CircularStdBook;
}
.abt{
  font-family: Raleway;
  text-align:center;
  font-size: 50px;
  color: #222222;
  line-height: 1em;
  font-weight: 600;
}
.title{
  font-family: CircularStdMedium;
  font-size: 2em;
  color: #222222;
  line-height: 1em;
  font-weight: 300;
  text-align:center;
  margin-top:10%;
}
.info{
  color: #848484;
  text-align:center;
  font-size:1.2rem;
  font-family: CircularStdBook;
  padding-left:5%;
  text-align: justify;
}
.info1{
  color: #848484;
  text-align:center;
  font-size:1.2rem;
  font-family: CircularStdBook;
  text-align: justify;
}
.content{
  color: #848484;
  font-size:1.5rem;
  font-family: CircularStdBook;
  padding-left:5%;
}
.content1{
  color: #000;
  font-size:3rem;
  font-family: CircularStdBook;
  text-align:center;
  margin-top:5%;
}
.content1:hover{
color:#EFB311;
}
/* ------------------------START OF MEDIA QUERIES---------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .navbar-right {
    margin-right: 47px !important;
  }
  .desig {
    text-align: center;
    font-size: 2.5em !important;
  }
  .flex{
    flex-direction: column !important;
  }
 
}
@media only screen and (max-width: 600px) {
  .prof {
    left: 5px !important;
    width: 95% !important;
    height: 400px !important;
  }
  .desig1 {
    top: 512px !important;
    right: 0 !important;
    text-align: center;
    font-size: 3em !important;
  }
  .desig {
    text-align: center;
    font-size: 1.5em !important;
  }
  .resume {
    top: 727px !important;
    right: 120px !important;
    width: 50% !important;
  }
  .info{
    text-align: justify !important;
  }
  .info1{
    text-align: justify !important;
  }
  .cv{
    width:48% !important;
  }
  .hire{
    width:40% !important;
  }
 .btn-large{
   display:none;
 }
 .aln{
   margin-top:15% !important;
 }
 .abt-me{
   text-align: center !important;
   font-size:1.4rem !important;
 }
 .pr-info{
  text-align: center !important;
  font-size:1.4rem !important;
 }
 .skl-tl{
  text-align: center !important;
  font-size:1.4rem !important;
}
 .collection{
   width:100% !important;
 }
 .flex{
   flex-direction: column !important;
 }
 .exp{
   text-align: center !important;
 }
 .exp-txt{
  text-align: center !important;
  text-align:justify !important;
}
.profile-img{
  margin-top:-9% !important;
}
}
@media screen and (max-width: 1024px){
  .gap{
    margin-left:-1% !important;
  }
}
/* ------------------------END OF MEDIA QUERIES---------------------------------------------------------------------------------- */
