@font-face {
  font-family: "CircularStdBook";
  src: url("/fonts/CircularStd-Book.otf");
}

@font-face {
  font-family: "CircularStdMedium";
  src: url("/fonts/CircularStd-Medium.otf");
}

@font-face {
  font-family: "CircularStdBold";
  src: url("/fonts/CircularStd-Bold.otf");
}

@font-face {
  font-family: "CircularStdBlack";
  src: url("/fonts/CircularStd-Black.otf");
}
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);


body {
  position: relative; 
  height:100%;
  margin:0;

}
.bclr{
  background-color: transparent !important;
  border-color:transparent !important;
}

#home {
  width: 100%;
  /* height:500px; */
  background-image: url("images/home-img1.jpg");
  /* The image used */
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-position: 50% 50%;
}
#home .overlay-section{
  background: rgba(0,0,0,0.7) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}

#about {
  padding-top: 50px;
  background-color: #fafafa;
}

#service {
  width: 100%;
  padding-top: 50px;
  height: 800px;
  color: #000000;
  background-image: url("images/pattern.png");
    /* You must set a specified height */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-position: 50% 50%;
}

#portfolio {
  color: #000;
  background-color: #ffffff;
}
#experience {
  color: #fff;
  /* height: 500px; */
  background-color: #ba68c8;
}
#resume {
  color: #fff;
  background-color: #fafafa;
}

#skill {
  color: #fff;
  background-color: #ffffff;
}

#contact {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}

/* #pages {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;} */

/* .navbar-inverse .navbar-nav>li>a {
  color: #ffffff !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #EFB311 !important;
  background-color: transparent !important;
} */

.links {
  font-family: CircularStdBook;
  font-size: 15px;
}

#particle-canvas {
  width: 100%;
  height: 100%;
}

.prof {
  width: 100%;
  height: 500px;
  border: 1px solid blue;
  border-radius: 50%;

}

.desig1 {
  font-size: 4em;
  position: absolute;
  top: 279px;
  right: 194px;
  z-index: 20;
  color: #ffffff;
  font-family: CircularStdBook;

}


/* .resume {
  position: absolute;
  top: 499px;
  z-index: 20;
  right: 373px;
  color: #ffffff !important;
  background-color: transparent !important;
  border-color: #ccc;
  border-radius: 25px !important;
  width: 12%;
  height: 46px;
  font-family: CircularStdBook;
  font-size: 18px !important;
}

.resume:hover {
  background-color: #EFB311 !important;
} */
.abt{
  font-family: Raleway;
  text-align:center;
  font-size: 50px;
  color: #222222;
  line-height: 1em;
  font-weight: 600;
}
.title{
  font-family: CircularStdMedium;
  font-size: 2em;
  color: #222222;
  line-height: 1em;
  font-weight: 300;
  text-align:center;
  margin-top:10%;
}
.info{
  color: #848484;
  text-align:center;
  font-size:1.2rem;
  font-family: CircularStdBook;
  padding-left:5%;
  text-align: justify;
}
.info1{
  color: #848484;
  text-align:center;
  font-size:1.2rem;
  font-family: CircularStdBook;
  text-align: justify;
}
.content{
  color: #848484;
  font-size:1.5rem;
  font-family: CircularStdBook;
  padding-left:5%;
}

.content1{
  color: #000;
  font-size:3rem;
  font-family: CircularStdBook;
  text-align:center;
  margin-top:5%;
}
.content1:hover{
color:#EFB311;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
  border:1px solid #eeeeee;
  border-radius:25px;
  height:350px;
  background-color: #eeeeee;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
  border:1px solid #eeeeee;
  border-radius:25px;
  background:#ffffff;
  border: 1px solid #649ad3;


}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cv {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color:#E5E5E5;
  border-radius: 25px !important;
  height: 46px;
  font-family: CircularStdBold;
  font-size: 18px !important;
  float:right;
  margin-right:5%;
  font-weight:700;
  width: 25%;

}
.cv:hover{
  background: #E5E5E5 !important; 

}
.hire {
  color: #ffffff !important;
  background-color: #EFB311 !important;
  border-color:#E5E5E5;
  border-radius: 25px !important;
  height: 46px;
  font-family: CircularStdBold;
  font-size: 18px !important;
  float:right;
  margin-right:5%;
  font-weight:700;
  width:20%;
}
.hire:hover{
background: #000000 !important;
}

.web-img{
margin-top:10%;
margin-left:40%;
width:100px;
height:100px;
}
 .web-img:hover{
  background-color: #000000 ;
  cursor: pointer;
  border:1px solid #ffffff;
  border-radius:50%;

}

footer{
  background: #fafafa;
  border-top: 1px solid #F5F5F5;
  padding: 23px 0;
}



/* ------------------------START OF MEDIA QUERIES---------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .navbar-right {
    margin-right: 47px !important;
  }
  .desig {
    text-align: center;
    font-size: 2.5em !important;
  }
  .flex{
    flex-direction: column !important;
  }
 

}


@media only screen and (max-width: 600px) {
  .prof {
    left: 5px !important;
    width: 95% !important;
    height: 400px !important;
  }

  .desig1 {
    top: 512px !important;
    right: 0 !important;
    text-align: center;
    font-size: 3em !important;
  }

  .desig {
    text-align: center;
    font-size: 1.5em !important;
  }
  .resume {
    top: 727px !important;
    right: 120px !important;
    width: 50% !important;
  }
  .info{
    text-align: justify !important;
  }
  .info1{
    text-align: justify !important;
  }
  .cv{
    width:48% !important;
  }
  .hire{
    width:40% !important;
  }
 .btn-large{
   display:none;
 }
 .aln{
   margin-top:15% !important;
 }
 .abt-me{
   text-align: center !important;
   font-size:1.4rem !important;
 }
 .pr-info{
  text-align: center !important;
  font-size:1.4rem !important;

 }
 .skl-tl{
  text-align: center !important;
  font-size:1.4rem !important;
}

 .collection{
   width:100% !important;
 }
 .flex{
   flex-direction: column !important;
 }
 .exp{
   text-align: center !important;
 }
 .exp-txt{
  text-align: center !important;
  text-align:justify !important;
}
.profile-img{
  margin-top:-9% !important;
}

}
@media screen and (max-width: 1024px){
  .gap{
    margin-left:-1% !important;
  }
}
/* ------------------------END OF MEDIA QUERIES---------------------------------------------------------------------------------- */